.navbar-nav{
    background-color: goldenrod;
}
.body{
    background-color: white;
    overflow-x: hidden;
}
.modal-contenedor{
    display:flex;
    align-items: center;
    gap:2rem;
}
.img-carrito{
    width:200px;
    padding:20px;
}
.equipo{
    text-align: center;
}
.foo{
    display:flex;
    align-items: center;
    justify-content: center;
}